.finished-section{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.user-email{
  margin: 30px 0;
}

.status{
  text-align: center;
}

.success,
.wrong{
  font-size: 90px;
  animation: show 1s ease;
}

.success{
  color: #028A3D;
}

.wrong{
  color: #FF3838;
}

.score{
  margin: 40px 0;
}

.home{
  padding: 10px 50px;
  background: #0880D6;
  color: #fff;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.home:hover{
  cursor: pointer;
}

@keyframes show {
  0%{
    transform: scale(0.2);
  }
  50%{
    transform: scale(0.9);
  }
  100%{
    transform: scale(0.2);
  }
}