

.question{
  margin-bottom: 20px;
  text-align: center;
}

.time{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
}

.time-up{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 0;
  margin-bottom: 5px;
}

.time-under{
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #DDDDDD;
}

.time-under span{
  display: block;
  height: 100%;
  background: #028A3D;
  border-radius: 5px;
  animation: fluid 60s linear;
}

.form-answer{
  width: 100%;
  min-height: 40px;
  border: 1px solid #DDDDDD;
  display: flex;
  align-items: center;
  margin: 15px 0;
  position: relative;
}

.form-answer:hover,
.form-answer input:hover,
.form-answer label:hover{
  cursor: pointer;
}


.form-answer input{
  -webkit-appearance:none;
  width: 13%;
}

.form-answer input[type='radio']:before{
  content:'';
  display:block;
  width: 14px;
  height: 14px;  
  border-radius:50%;
  margin-left: 32%;
  border: 1px solid #DDDDDD;
}
.form-answer input[type='radio']:checked:before{
  background:green;
}

.form-answer input[type='radio']:after{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.form-answer input[type='radio']:checked:after{
  border: 1px solid #028A3D;
} 

.form-answer label{
  word-break: keep-all;
  word-wrap: break-word;
  width: 87%;
}

.submit-answers{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.submit-answers a{
  width: 45%;
  text-align: center;
}

.submit-answers a:hover{
  cursor: pointer;
}

.btn-orange,
.btn-submit{
  background: #EC880C;
  padding: 10px 0;
  color: #fff;
  font-weight: bold;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn-submit{
  background: rgba(2, 138, 61, 1);
}

.btn-submit[disabled]{
  background: rgba(2, 138, 61, 0.42);
}

button a{
  color: #fff;
}

@keyframes fluid {
  0%{
    width: 100%;
  }
  25%{
    width: 75%;
  }
  50%{
    width: 50%;
  }
  75%{
    width: 25%;
    background: #EC880C;
  }
  100%{
    width: 0%;
    background: #FF3838;
  }
}
